<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${mapper_package}.${model}Mapper">

    <resultMap id="BaseResultMap" type="${entry_package}.${model}Pojo">
    #foreach($column in $columns)
        #if($column.name == "id")

        <id column="id" jdbcType="BIGINT" property="id"/>
        #else

        <result column="$column.columnName" jdbcType="$column.mybatisType" property="$column.name"/>
        #end
    #end

        <result column="create_user" jdbcType="BIGINT" property="createUser"/>

        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>

        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>

        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

        <result column="yn" jdbcType="TINYINT" property="yn"/>

    </resultMap>

    <sql id="genTableColumnColumns">
        #foreach($column in $columns)a.$column.columnName,
        #end
        a.create_user,
        a.create_time,
        a.update_user,
        a.update_time,
        a.yn
    </sql>

    <sql id="genTableColumnJoins">
    </sql>


    <sql id="Example_Where_Clause">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            yn = 0
            #foreach($column in $columns)

            <if test="$column.name!=null and $column.name!=''">
                and $column.columnName = #{$column.name}
            </if>
            #end</trim>

    </sql>

    <sql id="Access_Where_Clause">

    </sql>

    <sql id="Example_Update_Clause">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            yn = 0
            and id = #{id}
        </trim>
    </sql>

    <select id="count" resultType="long" parameterType="com.motorsc.match.base.dto.BaseAccessDto">
        select count(1)
        from ${table}
        <if test="_parameter != null">
            <include refid="Access_Where_Clause"/>
        </if>
    </select>
    <select id="get" resultMap="BaseResultMap" parameterType="long">
        SELECT
        <include refid="genTableColumnColumns"/>
        FROM ${table} a
        <include refid="genTableColumnJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="getEntry" resultMap="BaseResultMap" parameterType="${entry_package}.${model}Pojo">
        SELECT
        <include refid="genTableColumnColumns"/>
        FROM ${table} a
        <include refid="genTableColumnJoins"/>
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <select id="findList" resultMap="BaseResultMap" parameterType="com.motorsc.match.base.dto.BaseAccessDto">
        SELECT
        <include refid="genTableColumnColumns"/>
        FROM ${table} a
        <include refid="genTableColumnJoins"/>
        <if test="_parameter != null">
            <include refid="Access_Where_Clause"/>
        </if>
        limit #{start},#{pageSize}
    </select>

    <select id="findAllList" resultMap="BaseResultMap" parameterType="com.motorsc.match.base.dto.BaseAccessDto">
        SELECT
        <include refid="genTableColumnColumns"/>
        FROM ${table} a
        <include refid="genTableColumnJoins"/>
        <if test="_parameter != null">
            <include refid="Access_Where_Clause"/>
        </if>
    </select>

    <insert id="insert" parameterType="${entry_package}.${model}Pojo">
        INSERT INTO ${table}(
        #foreach($column in $columns)#if($column.extra!="auto_increment")$column.columnName,
        #end#end

        create_user,
        create_time,
        yn
        ) VALUES (
        #foreach($column in $columns)#if($column.extra!="auto_increment")#{$column.name},
        #end#end#{createUser},
        now(),
        #{YN}
        )
    </insert>

    <update id="update" parameterType="${entry_package}.${model}Pojo">
        UPDATE ${table} SET
        #foreach($column in $columns)#if($column.columnName!="id")

        <if test="$column.name!=null and $column.name!=''">
            $column.columnName = #{$column.name},
        </if>
        #end#end update_user = #{updateUser},
        update_time = now()
        <include refid="Example_Update_Clause"/>
    </update>

    <update id="delete" parameterType="long">
        UPDATE ${table} SET
        yn = #{NOT_YN}
        WHERE id = #{id}
    </update>

    <update id="deleteEntry" parameterType="${entry_package}.${model}Pojo">
        UPDATE ${table} SET
        yn = #{NOT_YN}
        <include refid="Example_Where_Clause"/>
    </update>

</mapper>