package ${service_package};

import com.motorsc.match.common.tool.PageResult;
import ${entry_package}.${model}Pojo;

/**
 * ${model}Service接口
 * table ${table}
 * comment ${table_coment}
 * Created by ${author} on ${ctime}.
 */
public interface ${model}Service {
    /**
     * 分页
     */
    PageResult<${model}Pojo> get${model}List(${model}Pojo ${model_low_first}Pojo);
    
    ${model}Pojo get(long id);

    ${model}Pojo getEntry(${model}Pojo ${model_low_first}Pojo);

    int delete(long id);

    int deleteEntry(${model}Pojo ${model_low_first}Pojo);

    int insert(${model}Pojo ${model_low_first}Pojo);

    int update(${model}Pojo ${model_low_first}Pojo);
}
